@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .textEllipsis{
    @apply truncate overflow-hidden whitespace-nowrap text-ellipsis
  }
  .completedTask{
    @apply bg-slate-300 bg-opacity-80  line-through  backdrop:blur-md 
  }
  .requiredField{
    @apply ring-red-500 ring-1 
  }
  .searchField{
    @apply h-10  w-[350px] text-gray-600 bg-white border-[2px] p-3  focus:outline-0 focus:outline-lightPurp
  }
  .btn{
    @apply active:opacity-50 transition-all
 }
  .labels{
    @apply text-black sm:text-lg my-2
  }
  .modalInputFields{
    @apply  text-gray-400 text-sm h-11 sm:h-14 sm:w-72 px-3 py-2 mb-3 bg-slate-100 rounded-md focus:outline-none  
  }
  .requiredFieldLabel{
    @apply text-sm ml-auto  text-red-500 transition-all ease-linear duration-500
  }
}

:root {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
